* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Century Gothic", sans-serif;
}
  
:root {
    --first-color: #5d9c59;
    --second-color: #c7e8ca;
    --third-color: #79c280;
}
  
body {
    line-height: 1.6;
    background-color: var(--first-color);
}

.navbar{
    padding: 5px 30px;
    background-color: var(--second-color) !important; 
    border-bottom: 1px solid #b4d9b7; 
  }
  
  .nav-link {
    color: var(--first-color) !important;
    text-decoration: none; 
    position: relative; 
  }
  
  .nav-link::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0; 
    height: 2px; 
    background-color: var(--first-color);
    transition: width 0.3s ease; 
  }
  
.nav-link:hover::after {
    width: 100%; 
}
.custom-navbar .nav-item {
    margin-right: 50px;
    font-size: 15px;
    font-weight: 900;
}
.d-flex .btn {
    font-size: 15px; 
    font-weight: bold; 
}
.btn-outline-success {
    border-color: var(--first-color); 
    color: var(--first-color); 
    transition: background-color 0.3s, color 0.3s; 
}
.btn-outline-success:hover {
    background-color: var(--third-color);
    color: var(--second-color);
    border-color: var(--third-color);
}

.main {
    height: 90%;
    width: 100%;
}

.container-left {
    float: left;
    height: 100%;
    width: 60%;
}

.content-left {
    position: relative;
}

.icon-left {
    position: absolute;
    margin-left: -9%;
}

.container-left .content-left {
    background-color: var(--second-color);
    height: 40%;
    width: 90%;
    margin-top: 5%;
    margin-right: 3%;
    margin-left: 7%;
    border-radius: 50px;
    padding: 2%;
    text-align: justify;
}

.container-left .content-left .icon-left {
    color: var(--third-color);
    font-size: 18rem;
}

.content-left .head {
    font-weight: bolder;
    margin-right: 3%;
    text-align: right;
}

.content-left .desc {
    font-size: .99rem;
    text-indent: 50px;
    margin-left: 26%;
    margin-right: 3%;
}

.container-right {
    float: left;
    height: 100%;
    width: 40%;
}

.container-right .content-right {
    background-color: var(--second-color);
    height: 86%;
    width: 85%;
    margin-top: 8%;
    border-radius: 50px;
    padding: 4%;
}

.content-right .head {
    font-size: 3rem;
    font-weight: bolder;
}

.icon-right {
    position: relative;
    margin-top: -29%;
    margin-right: -17%;
}

.content-right .icon-right {
    float: right;
    color: var(--third-color);
    font-size: 8rem;
}

.content-right .discount {
    float: left;
    width: 45%;
    margin: 2.5%;
    text-align: center;
    border: var(--first-color) 4px solid;
    border-radius: 30px;
}

.discount .perc {
    font-size: 4rem;
    font-weight: bolder;
    color: var(--first-color);
}

.discount .desc {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 80%;
}

.content-right .news {
    border: var(--first-color) 4px solid;
    border-radius: 30px;
    padding: 1%;
    width: 90%;
    margin: 5%;
    text-align: center;
}

.news .desc {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 2%;
}

.icon-right img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}